.passage
  color: rgb(91, 91, 91)
  text-indent: 2em
  font-size: 20px
  padding: 36px 15px 36px 15px
  margin: 15px 10px 15px 0
  border-radius: 3.5px
  box-shadow: 1px 1.8px 4px 3px rgba(10, 10, 10, 0.18)
